<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Searcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Searcher.Properties.Settings>
            <setting name="useExternalFileViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textEditor" serializeAs="String">
                <value>notepad++.exe</value>
            </setting>
            <setting name="contextSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="commonSkipExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>svn</string>
                        <string>git</string>
                        <string>vs</string>
                        <string>dll</string>
                        <string>exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="resultsColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Name</string>
                        <string>Path</string>
                        <string>Created</string>
                        <string>Updated</string>
                        <string>Accessed</string>
                        <string>FileSize</string>
                        <string>First Match</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="tvConfirmCloseTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="commonSkipFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>RECYCLE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="columnOrder" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Name</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="logInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="root" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="tvShowRightPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tvFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tvSyntaxJSON" serializeAs="String">
                <value/>
            </setting>
            <setting name="tvFontFamily" serializeAs="String">
                <value>[FontFamily: Name=Microsoft Sans Serif]</value>
            </setting>
        </Searcher.Properties.Settings>
    </userSettings>
</configuration>
